.item_container {
  background-color: #121212;
  min-height: 100vh;
  color: rgb(241, 255, 241);
}
.item_wrapper {
  width: 70%;
  margin: 0 auto;
  padding: 27vh 0 10vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.item_main {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}
.item-background {
  background-color: rgba(241, 255, 241, 0.16);
  border-radius: 5px;
  padding: 3% 5%;
  box-shadow: -1px 6px 18px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 6px 18px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 6px 18px 0px rgba(0, 0, 0, 0.75);
}
.header {
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
}
.go-back {
  font-size: 1.5rem;
  color: rgb(241, 255, 241);
  display: flex;
  align-items: center;
}
.item-name {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}
.item-info-container {
  display: flex;
}
.item-text {
  margin-top: 2%;
}
.item-image {
  width: max(22vw, 400px);
  height: max(22vw, 400px);
  margin-right: 20px;
}
.item-desc {
  max-width: 500px;
  font-size: 1.1rem;
  text-align: justify;
  margin-bottom: 5%;
}
.item-stock {
  font-size: 1.1rem;
}
.item-price {
  margin-top: 5%;
  font-size: 1.2rem;
  font-weight: 600;
}
.in-stock {
  color: rgb(0, 194, 0);
  font-weight: 600;
}
.low-stock {
  color: rgb(212, 145, 0);
  font-weight: 600;
}
.out-of-stock {
  color: rgb(218, 22, 22);
  font-weight: 600;
}
form {
  margin: 25% auto 0;
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.qty-input {
  width: 50px;

}
.buy-bttn {
  height: 45px;
  width: 120px;
  background-color: rgb(241, 255, 241);
  border: 0 solid;
  border-radius: 0px;
  font-weight: 600;
  font-size: 16px;
}
.buy-bttn:active {
  transform: translate3d(1px, 1px, 0);
}