.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 84%;
  top: 10%;
  left: 8%;
}
.navbar nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar nav > a {
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  letter-spacing: 1px;
  color: rgb(241, 255, 241);
}
.menu {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.menu li {
  height: 23px;
  min-width: 33px;
}
.menu a {
  font-size: 1.2rem;
  text-decoration: none;
  letter-spacing: 1px;
  color: rgb(241, 255, 241);
}
.menu li:hover {
  display: block;
  border-bottom: 1px solid rgb(241, 255, 241);
}
.menu a span {
  display: flex;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .menu {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  .menu {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .navbar {
    width: 90%;
    top: 5%;
    left: 5%;
  }
  .navbar nav{
    flex-direction: column;
  }
  .menu {
    margin-top: 5%;
    width: 100%;
    justify-content: space-around;
  }
}